# Python / ROS 2
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
dist/
build/
install/
log/
*.egg-info/
/ros2_ws
*.log
.uv/
celerybeat-schedule
celeryd-*.log
pip-log.txt
pip-delete-this-directory.txt
.coverage
.pytest_cache
htmlcov/
cover/
.mypy_cache/
.tox/
tmp/
sdist/
wheel/
share/
lib/

# Explicit for backend
backend/__pycache__/
backend/venv/

# Docusaurus
.docusaurus/
node_modules/
package-lock.json
yarn.lock
npm-debug.log*
.env* # Catch all .env files

# General
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
uv.lock